.main{
    margin-top: 15%;
}
.inputt{
    height: 42px;
    width: 26%;
    border-radius: 3rem;
    padding-left: 30px;
    border: 1px solid grey;
}
.inputt:focus{
    outline: 0;
    border-color: blue;
}
button{
    height: 42px;
    width: 16%;
    text-align: center;
}
#signupbtn{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#signupbtn:hover{
    background-color: #2B4D71;
    color: white;
}